body {
  background-color: bisque;
  color:black;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  border: 2px solid white;
  border-radius: 20px;
  width: 400px;
  height: 100px;
  /* background-color: aquamarine !important; */
}

h3{
  padding: 2rem;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 5px;
  text-decoration:underline;
}
