//* https://color.adobe.com/tr/explore 
// (eğer hazır tema kullanmak istersen buradan istediğn temayı seç ve scss olarak kopyala, Hex,RGBA, HSALA birtanesini seçip isimlerini düzenle, veya kendin isim verip renk belirle)

/* Color Theme Swatches in Hex */
$red: #ff4858;
$olive: #1b7f79;
$aqua: #00ccc0;
$lightBlue: #72f2eb;
$grey: #747f7f;
