@import "./variables";

.container {
  text-align: center;
  margin-bottom: 7rem;
  .card {
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.7);
    margin: 1.8rem auto;
    max-width: 300px;
    img {
      width: 35%;
      border-radius: 50%;
      margin: 1rem;
    }
    h1 {
      color: $red;
    }
    h2 {
      color: $olive;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        cursor: pointer;
        border: none;
        margin-right: 10px;
        padding: 10px 20px;
        border-radius: 10px;
        transition: all 0.7s;
        &:hover {
          transform: scale(95%);
        }
      }

      .btn1 {
        background-color: $aqua;
      }
      &--btn2 {
        background-color: $red;
      }
    }
  }
}
